<div class="content-panel">
  <h2>New Sale</h2>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="alert alert-danger" *ngIf="errors.length>0">
    <ul class="d-flex flex-wrap gap-3">
      <li class="ms-3" *ngFor="let error of errors">{{error ? error : 'Errors'}}</li>
    </ul>
  </div>
  <div class="content-box">
    <div class="form-section">
      <form class="w-100" (submit)="saveInvoice($event)">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-wrap gap-2">
              <div>
                <p>Inv.#</p>
                <input type="text" name="invoice_no" class="w-100" placeholder="Invoice #">
              </div>
              <div>
                <p>LPO #</p>
                <input type="text" name="lpo_no" class="w-100" placeholder="LPO #">
              </div>
              <div>
                <p>Inv. Date</p>
                <input type="date" name="invoice_date" class="w-100" placeholder="Invoice Date">
              </div>
              <div>
                <p>Invoice Party</p>
                <select name="invoice_party">
                  <option value="">Select</option>
                </select>
              </div>
              <div>
                <p>Customer Name</p>
                <select name="customer_name">
                  <option value="">Select</option>
                </select>
              </div>
              <div>
                <p>Pay. Mode</p>
                <select name="pay_mode">
                  <option value="">Select</option>
                  <option value="" selected>Cash</option>
                </select>
              </div>
              <div>
                <p>Account Head</p>
                <select name="account_head">
                  <option value="">Select</option>
                </select>
              </div>
              <div>
                <p>Sales Man</p>
                <select name="sale_man">
                  <option value="">Select</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th></th>
                  <th>SL No</th>
                  <th>item Code</th>
                  <th></th>
                  <th>Item Description</th>
                  <th>Pkt Details</th>
                  <th>UOM</th>
                  <th>Qty</th>
                  <th>Unit Cost</th>
                  <th>Disc.%</th>
                  <th>Disc. <br> Amount</th>
                  <th>Sub <br> Total</th>
                  <th>VAT <br> %</th>
                  <th>VAT <br> Amount</th>
                  <th>Net Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex gap-3 flex-column flex-sm-row justify-content-between align-items-start">
              <div class="w-75">
                <p>Sales Note</p>
                <textarea name="sale_note" class="w-100" cols="30" rows="10"></textarea>
              </div>
              <div class="w-25">
                <div class="d-flex justify-content-end align-items-center gap-3 mb-3">
                  <span class="w-100 text-end">Total Amount</span>
                  <input type="number" name="total_amount" class="m-0" style="border-radius: 10px !important;">
                </div>
                <div class="d-flex justify-content-end align-items-center gap-3 mb-3">
                  <span class="w-100 text-end">Discount Amount</span>
                  <div class="d-flex gap-3 w-100">
                    <input type="number" name="total_amount" class="m-0" style="border-radius: 10px !important;">
                    <input type="number" name="total_amount" class="m-0" style="border-radius: 10px !important;">
                  </div>
                </div>

                <div class="d-flex justify-content-end align-items-center gap-3 mb-3">
                  <span class="w-100 text-end">Sub Total</span>
                  <input type="number" name="total_amount" class="m-0" style="border-radius: 10px !important;">
                </div>
                <div class="d-flex justify-content-end align-items-center gap-3 mb-3">
                  <span class="w-100 text-end">VAT Amount</span>
                  <div class="d-flex gap-3 w-100">
                    <input type="number" name="total_amount" class="m-0" style="border-radius: 10px !important;">
                    <input type="number" name="total_amount" class="m-0" style="border-radius: 10px !important;">
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-center gap-3 mb-3">
                  <span class="w-100 text-end">Round Off Amount</span>
                  <div class="d-flex gap-3 w-100">
                    <input type="number" name="total_amount" class="m-0" style="border-radius: 10px !important;">
                    <input type="number" name="total_amount" class="m-0" style="border-radius: 10px !important;">
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-center gap-3 mb-3">
                  <span class="w-100 text-end fw-bold">Net Total</span>
                  <input type="number" name="total_amount" class="m-0" style="border-radius: 10px !important;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-footer">
          <a routerLink="/customer/all">
            <button class="btn-cancel">Back to list</button>
          </a>
          <button type="submit" class="btn-save">
            <span *ngIf="!loading">Save</span>
            <svg *ngIf="loading" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" style="width: 30px;"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                 y="0px"
                 viewBox="0 0 100 100" enable-background="new 0 0 0 0">
              <path fill="#fff"
                    d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                <animateTransform
                  attributeName="transform"
                  attributeType="XML"
                  type="rotate"
                  dur="1s"
                  from="0 50 50"
                  to="360 50 50"
                  repeatCount="indefinite"/>
              </path>
            </svg>
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
