<div class="content-panel">
  <div class="page-header">
    <h2>Brand List</h2>
  </div>
  <div class="create-btn-block">
    <a routerLink="/brand/create">
      <button>New Brand</button>
    </a>
  </div>

  <div class="content-box">
    <div class="alert alert-danger mb-3" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
    <ag-grid-angular
      style="width: 100%; height: calc(100vh - 200px);"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="allCategories"
      [animateRows]="true"
      [pagination]="true"
      [paginationPageSize]="10"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
</div>
