<div class="content-panel">
  <div class="page-header">
    <h2>Products List</h2>
  </div>
  <div class="create-btn-block">
    <a routerLink="/product/create">
      <button>New Product</button>
    </a>
  </div>

  <div class="content-box">
    <table>
      <thead>
      <th>Sl No</th>
      <th>Product Code</th>
      <th>Product Description</th>
      <th>Category</th>
      <th>Price</th>
      <th>Cost</th>
      <th>Image</th>
      <th></th>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
