<div class="content-panel">
  <h2>Dashboard</h2>
  <div class="content-box">
    <div class="report-box">
      <h2>Total Sales</h2>
      <div class="rpt-innerbox">
        <div class="report-value">123</div>
        <div class="report-label">Aed</div>
      </div>
    </div>
    <div class="report-box">
      <h2>Total Purchase</h2>
      <div class="rpt-innerbox">
        <div class="report-value">123</div>
        <div class="report-label">Aed</div>
      </div>
    </div>
    <div class="report-box">
      <h2>Total Profit</h2>
      <div class="rpt-innerbox">
        <div class="report-value">123</div>
        <div class="report-label">Aed</div>
      </div>
    </div>
  </div>
</div>
