<div class="content-panel">
  <div class="page-header">
    <h2>Sub Category List</h2>
  </div>
  <div class="create-btn-block">
    <a routerLink="/sub-category/create">
      <button>New Sub Category</button>
    </a>
  </div>

  <div class="content-box d-flex flex-column gap-3">
    <div class="form-section section-30">
      <p>Category</p>
      <select name="parent_id" (change)="onChangeFilter($event)" [(ngModel)]="parent_id">
        <option value="">Select Category</option>
        <option *ngFor="let dropdown of allCategories"
                [value]="dropdown.id">{{dropdown.drilldown_code}}</option>
      </select>
    </div>
    <ag-grid-angular
      style="width: 100%; height: calc(100vh - 400px);"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="allSubCategories"
      [animateRows]="true"
      [pagination]="true"
      [paginationPageSize]="10"
      [loadingCellRenderer]="loadingCellRenderer"
      [loadingCellRendererParams]="loadingCellRendererParams"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
</div>
