<div class="content-panel">
  <div class="page-header">
    <h2>Sub Category List</h2>
  </div>
  <div class="create-btn-block">
    <a routerLink="/sub-category/create">
      <button>New Sub Category</button>
    </a>
  </div>

  <div class="content-box d-flex flex-column gap-3">
    <div class="form-section section-30">
      <p>Category</p>
      <select name="parent_id" (change)="getChildCategories($event)" [(ngModel)]="parent_id">
        <option value="">All Categories</option>
        <option *ngFor="let dropdown of allCategories"
                [value]="dropdown.id">{{dropdown.drilldown_code}}</option>
      </select>
    </div>
    <ag-grid-angular
      style="width: 100%; height: calc(100vh - 400px);"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="allCategories"
      [animateRows]="true"
      [pagination]="true"
      [loadingCellRenderer]="loadingCellRenderer"
      [loadingCellRendererParams]="loadingCellRendererParams"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
    <!--    <table class="table table-striped table-bordered">-->
    <!--      <thead class="text-center">-->
    <!--      <th>Sl No</th>-->
    <!--      <th>Category Code</th>-->
    <!--      <th>Category Description</th>-->
    <!--      <th>Image</th>-->
    <!--      <th>Actions</th>-->
    <!--      </thead>-->
    <!--      <tbody>-->
    <!--      <tr *ngFor="let subCategory of allSubCategories; let i=index">-->
    <!--        <td>{{i+1}}</td>-->
    <!--        <td>{{subCategory.drilldown_code}}</td>-->
    <!--        <td>{{subCategory.drilldown_description}}</td>-->
    <!--        <td></td>-->
    <!--        <td>-->
    <!--          <div class="d-flex justify-content-center align-items-center">-->
    <!--            <a href="#" class="text-danger" (click)="deleteSubCategory($event, subCategory.id)"><i class="fas fa-trash-alt"></i></a>-->
    <!--          </div>-->
    <!--        </td>-->
    <!--      </tr>-->
    <!--      </tbody>-->
    <!--    </table>-->
  </div>
</div>
