<div class="menu-panel">
  <ul>
    <p>Home</p>
    <a routerLink="/dashboard">
      <li routerLinkActive="active">Dashboard</li>
    </a>
  </ul>
  <ul>
    <p>Items</p>
    <a routerLink="/product/all">
      <li routerLinkActive="active">Products</li>
    </a>
    <a routerLink="/category/all">
      <li routerLinkActive="active">Category</li>
    </a>
    <a routerLink="/sub-category/all">
      <li routerLinkActive="active">Sub Category</li>
    </a>
<!--    <a routerLink="/sub-category/all">-->
<!--      <li>Sub Sub Category</li>-->
<!--    </a>-->
    <a routerLink="/brand/all">
      <li routerLinkActive="active">Brands</li>
    </a>
    <a routerLink="/department/all">
      <li routerLinkActive="active">Departments</li>
    </a>
  </ul>
  <ul>
    <p>Sale</p>
    <a routerLink="/customer/all">
      <li routerLinkActive="active">Customers</li>
    </a>
    <a href="estimatelist.html">
      <li>Estimate</li>
    </a>
    <a routerLink="/invoice/all">
      <li>Invoice</li>
    </a>
    <a href="paymentlist.html">
      <li>Payment</li>
    </a>
  </ul>
  <ul>
    <p>Purchase</p>
    <a routerLink="/vendor/all">
      <li routerLinkActive="active">Vendors</li>
    </a>
    <a routerLink="/expense/all">
      <li>Expenses</li>
    </a>
  </ul>
  <ul>
    <p>Report</p>
    <a href="salesreport.html">
      <li>Sales Report</li>
    </a>
    <a href="expensereport.html">
      <li>Expense Report</li>
    </a>
  </ul>
  <ul>
    <p>User</p>
    <a href="#" (click)="logout($event)">
      <li>Logout</li>
    </a>
  </ul>
</div>
