<div class="content-panel">
  <h2>Edit Product</h2>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="alert alert-danger" *ngIf="errors.length>0">
    <ul class="d-flex flex-wrap gap-3">
      <li class="ms-3" *ngFor="let error of errors">{{error ? error : 'Errors'}}</li>
    </ul>
  </div>
  <form class="content-box" (ngSubmit)="submitForm()">
    <div class="form-section">
      <div class="section-30">
        <p>Product Name</p>
        <input type="text" name="product_name" style="width: 100%!important;" [(ngModel)]="productModel.product_name"
               placeholder="Product Name">
        <p>Product Code</p>
        <input type="text" name="product_code" style="width: 100%!important;" [(ngModel)]="productModel.product_code"
               placeholder="Product Code">
        <p>Product Description</p>
        <input type="text" name="description" style="width: 100%!important;" [(ngModel)]="productModel.description"
               placeholder="Product description">
        <!--        <p>Product Description - Arabic</p>-->
        <!--        <input type="text" placeholder="Product Description- Arabic">-->
        <p>Category</p>
        <select name="category_id" [(ngModel)]="productModel.category_id" (change)="getSubCategories('sub')">
          <option value="">Select Category</option>
          <option *ngFor="let dropdown of dropdowns.categories"
                  [value]="dropdown.id">{{dropdown.drilldown_code}}</option>
        </select>
        <p>Sub Category</p>
        <select name="sub_category_id" [(ngModel)]="productModel.sub_category_id"
                (change)="getSubCategories('subSub')">
          <option value="">Select Sub Category</option>
          <option *ngFor="let subCategory of subCategories"
                  [value]="subCategory.id">{{subCategory.drilldown_code}}</option>
        </select>
        <p>Sub Sub Category</p>
        <select name="sub_sub_category_id" [(ngModel)]="productModel.sub_sub_category_id">
          <option value="">Select Sub Sub Category</option>
          <option *ngFor="let subSubCategory of subSubCategories"
                  [value]="subSubCategory.id">{{subSubCategory.drilldown_code}}</option>
        </select>
        <p>Brand</p>
        <select name="brand_id" [(ngModel)]="productModel.product_brand_id">
          <option value="">Select Brand</option>
          <option *ngFor="let dropdown of dropdowns.brands" [value]="dropdown.id">{{dropdown.drilldown_code}}</option>
        </select>
        <p>Department</p>
        <select name="department_id" [(ngModel)]="productModel.department_id">
          <option value="">Select Department</option>
          <option *ngFor="let dropdown of dropdowns.departments"
                  [value]="dropdown.id">{{dropdown.drilldown_code}}</option>
        </select>

        <div class="section-50">
          <p>Product UOM</p>
          <select name="unit" style="width: 100%!important;" [(ngModel)]="productModel.unit">
            <option value="">Select Product UOM</option>
            <option *ngFor="let uom of dropdowns.uom | keyvalue" [value]="uom.key">{{uom.value}}</option>
          </select>
        </div>
        <div class="section-50">
          <p>Packet Details</p>
          <input type="text" style="width: 100%!important;" name="pack_details"
                 [(ngModel)]="productModel.pack_details"
                 placeholder="100 gm">
        </div>
        <p>Product Type</p>
        <input type="text" style="width: 100%!important;" name="product_type" maxlength="10"
               [(ngModel)]="productModel.product_type">
      </div>
      <div class="section-70">
        <p>Barcode</p>
        <input type="text" name="barcode" [(ngModel)]="productModel.barcode" placeholder="Product Barcode">
        <p>Specification</p>
        <textarea rows="10" name="specification" [(ngModel)]="productModel.specification"
                  placeholder="Product Specification"></textarea>
        <div class="section-70">
          <p>Supplier Name</p>
          <input type="text" placeholder="Supplier Nam">
        </div>
        <div class="section-30">
          <p>Stock Qty</p>
          <input type="number" name="pack_qty" [(ngModel)]="productModel.pack_qty" placeholder="Stock Qty">
        </div>
        <div class="section-50">
          <p>Product Cost</p>
          <input type="number" name="unit_price" (input)="calculateMarginAmount($event)" [(ngModel)]="productModel.unit_price" placeholder="Product Cost">
          <p>Margin (%)</p>
          <input type="number" name="it_rate1" (input)="calculateMarginAmount($event)" [(ngModel)]="productModel.it_rate1" placeholder="Margin (%)">
          <p>Margin (Amount)</p>
          <input type="number" name="it_amount1" disabled [(ngModel)]="productModel.it_amount1" placeholder="Margin (Amount)">
          <p>Product Image</p>
          <input type="file" (change)="processFile($event)" style="width: 100% !important;"
                 placeholder="Product Image">
        </div>
        <div class="section-50">
          <p>Last Purchase Cost</p>
          <input type="number" name="last_purchase_cost" (input)="getPriceWithVAT($event)" [(ngModel)]="productModel.last_purchase_cost" placeholder="Selling Price">
          <p>VAT %</p>
          <input type="number" name="ot_rate1" (input)="getPriceWithVAT($event)" [(ngModel)]="productModel.ot_rate1">
          <p>Price Inclusive VAT</p>
          <input type="number" name="ot_amount1" disabled [(ngModel)]="productModel.ot_amount1"
                 placeholder="Price Inclusive VAT">
          <img [src]="imagePreview" class="w-100 rounded" height="300" alt="">
        </div>
      </div>
    </div>
    <div class="form-footer">

      <a routerLink="/product/all" class="btn-cancel" style="text-decoration: none">
        Back to list
      </a>
      <button type="submit" class="btn-save" [disabled]="loading">
        <span *ngIf="!loading">Update</span>
        <svg *ngIf="loading" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" style="width: 30px;"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
             y="0px"
             viewBox="0 0 100 100" enable-background="new 0 0 0 0">
          <path fill="#fff"
                d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
            <animateTransform
              attributeName="transform"
              attributeType="XML"
              type="rotate"
              dur="1s"
              from="0 50 50"
              to="360 50 50"
              repeatCount="indefinite"/>
          </path>
        </svg>
      </button>
    </div>
  </form>
</div>
